<h3>Наш коллектив:</h3>
        <br><strong>Бендер-Задунайский Остап Ибрагимович</strong> - командор
        <br><strong>Паниковский Михаил Самуэлевич</strong> - главный менеджер
        <br><strong>Балаганов Шура</strong> - младший менеджер, молочный брат О.И.Бендера-Задунайского
        <br><strong>Фунт</strong> - зиц-председатель
        <br><strong>Козлевич Адам Казимирович</strong> - шофёр международного класса
        <br><strong>Синицына Зося</strong> - секретарь командора

<strong>Корейко Александр Иванович</strong> - Генеральный спонсор магазина "Деньги на стол!"
