<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Деньги на стол! {% block title %} {% endblock %}</title>
    <link rel = "stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>
<body>
    <h1>{% block pagename %} {{ block.super }} {% endblock %}</h1>
    <p></p>
    <nav>
        {% block menu %}
            <a href="/shop/">Торговый зал</a><br>
            <a href="/shop/goods/">Каталог настольных игр</a><br>
            <a href="/shop/basket/">Корзина</a><br>
            <a href="/platform/news/">Новости</a><br>
        {% endblock %}
    </nav>

    <p></p>

    {% block content %} {{ block.super }} {% endblock %}

    <footer> {% include "footer.html" %} </footer>

</body>
</html>